name: CI Mentoria

# gatilhos
on: 
  push: 

jobs:
  tests: 
    # [config do so]
    runs-on: ubuntu-latest 

    # [variaveis]
    env: 
      BASE_URL: 'http://localhost:3000'

    # locais ou passos
    steps: 

      # [projetos]
      - name: Checkout do Repositório 
        uses: actions/checkout@v4 

      - name: Instalando as depências 
        run: npm install       

      - name: Iniciar o servidor de aplicação 
        run: npm start & #

      - name: Esperar que o servidor inicie
        run: npx wait-on http://localhost:4000

      - name: Executar os testes 
        run: npx mocha "test/api/**/*.test.js"
